<div>
  <a href=" {{ product.url }}">
    {{ product | image_url: width: 600 | image_tag: loading: "lazy" }}
    <h3>{{ product.title | upcase }}</h3>
    <p>
      {{ product.price | money_with_currency }}
    </p>
  </a>
</div>
{{- product.title | link_to: product.url }}
