<div class="product-item">
  <a href=" {{ product.url }}">
    <div class="product-image image-swap rounded overflow-hidden position-relative">
      {{ product | image_url: width: 600 | image_tag: loading: "lazy", class: "primary-image" }}

      {% if product.images.size > 1 %}
        {{ product.images[1] 
         | image_url: width: 600
         | image_tag: loading: "lazy", class: "image-on-hover" }}
      {% endif %}
    </div>
  </a>

  <h3 class="product-title pt-3">{{ product.title | upcase }}</h3>
  <p class="product-price mb-0">
    {{ product.price | money_with_currency }}
  </p>

  <a href="{{ product.url }}">
    <button type="button" class="btn btn-dark text-uppercase">
      Shop Now
    </button>
  </a>
</div>