<div class="container py-5">
  {% form 'cart', cart %}
    <fieldset>
      <legend>
        <h2>Your Cart</h2>
      </legend>


      <!-- if statement for if Cart is empty -->
      {% if cart.empty? %}

        <div class="container">
          <div class="alert alert-dark">
            Looks like your cart is empty.
          </div>
          <p>
            <a href="/collections/all" class="btn btn-dark text-uppercase">Continue Shopping</a>
          </p>
        </div>

      {% else %}

        {% for item in cart.items %}
          <div
            class="line-item-area d-flex pb-4 mb-4"
            data-line-item-key="{{ item.key }}"
            style="border-bottom: 1px solid black;">
            <div class="me-4">
              <h3>{{ item.title }}</h3>
              <img
                class="product-image"
                src="{{ item.image | image_url: width: 200 }}"
                alt="{{ item.title }}">
            </div>

            <div class="me-4">
              <p>{{ item.final_line_price | money_without_trailing_zeros }}</p>
              <div>
                <label for="gift-card">Add a Gift Note:</label>
                <input type="checkbox" class="gift-note" /><br/>
                <textarea
                  style="display: none"
                  id="gift-note-submit"
                  name="attributes[Gift Note]">Enter your gift note here.
                </textarea>
              </div>
            </div>

            <div class="me-4">
              <label for="quantity">
                Quantity:
                <span class="current-quantity">{{ item.quantity }}</span>
              </label>
              <div class="cart-item-selector">
                <button type="button" class="qty-sub btn btn-outline-secondary">-</button>
                <input
                  type="number"
                  data-key="{{ item.key }}"
                  class="quantity"
                  id="quantity_{{ item.id }}"
                  value="{{ item.quantity }}"
                  min="1"
                  max="99">
                <button type="button" class="qty-add btn btn-outline-secondary">+</button>
              </div>
            </div>

            <button class="remove btn btn-outline-secondary text-uppercase" data-line-item-key="{{ item.key }}">
              Remove
            </button>
            <!-- <a class="remove" href="{{ item.url_to_remove }}">Remove</a> -->
          </div>
        {% endfor %}


        <hr>
        {% assign cart_total = cart.total_price | money_with_currency %}

        <h4 class="total">Total =
          <span class="current-total">{{ cart_total }}</span>
        </h4>


        <button
          type="submit"
          name="checkout"
          class="btn btn-dark text-uppercase">Checkout</button>

      </fieldset>
    {% endif %}
  {% endform %}
</div>

{% schema %}
  {
    "name": "cart",
    "settings": [
      {
        "type": "page",
        "id": "cart",
        "label": "Add to Cart"
      }
    ]
  }
{% endschema %}