
<h2>{{ product.title }}</h2>
<p>{{ product.price | money_with_currency }}</p>

<div>
  {% comment %} product.description displays the same thing --> {% endcomment %}
  {{ product.content }}
</div>

{% form 'product', product %}
  <select name="id">
    {% for variant in product.variants %}
      <option value="{{ variant.id }}">
        {{ variant.title }}
      </option>
    {% endfor %}
  </select>

  <button type="submit">Add to Cart</button>
{% endform %}

{% schema %}
<<<<<<< HEAD
  {
    "name": "products",
    "settings": []
  }
{% endschema %}
=======
{
  "name": "products",
  "settings": []
}
{% endschema %}

>>>>>>> f7eaa5e1be517f733eeb9da2098d02fe35fa20a2
