<h1>{{ page.title | upcase }}</h1>
<div class="contact-area">
  {% form 'contact', contact %}
    <fieldset>
      <legend>Enter the Details</legend>
      <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="contact[name]" value="{{ form['name'] }}">
      </div>

      <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" value="{{ form['email'] }}">
      </div>

      <div>
        <label for="phone">Phone</label>
        <input type="tel" id="phone" name="phone" value="{{ form['phone'] }}">
      </div>

      <div>
        <label for="message">Message</label>
        <textarea id="message" name="body">{{ form['body'] }}</textarea>
      </div>

      <div>
        <input type="submit" value="Send">
      </div>
    </fieldset>
  {% endform %}
</div>

{% schema %}
{
  "name": "contact",
  "settings": [
    {
      "type": "page",
      "id": "contact",
      "label": "Contact"
    }
  ]
}
{% endschema %}
